###############################################################################
###################### Prune rolling data from sql db #########################
###############################################################################
0 0 * * * /bin/sh /opt/prune.sh

###############################################################################
################## Pull and stash CB inventory once daily #####################
###############################################################################
1 0 * * * /bin/sh /opt/run.sh $CB_API_USER $CB_API_TOKEN

###############################################################################
################# Pull and stash MMX inventory once daily #####################
###############################################################################
0 1 * * * /bin/sh /opt/run.sh $MMX_API_USER $MMX_API_TOKEN

###############################################################################
################### Pull and stash insightVM once a day# ######################
###############################################################################
15 0 * * * /usr/local/bin/python /opt/insight/get_assets.py
